.breadcrumbs{
	background-color: $white-dirty;
}

.tag-list{
	&-item{
		margin: 5px 0;
		padding: 0;
		.nav-link{
			padding: 0 15px 0 0;
			font-size: 18px;
		}
		i{
			font-size: 25px;
			vertical-align: middle;
		}
	}
}

.view-switcher{
	float: right;
	&-btn{
		display: inline-block;
		margin-left: 4px;
		line-height: 33px;
		width: 33px;
		text-align: center;
		border: 1px solid $gray-lighter;
		cursor: pointer;
		i{
		    vertical-align: middle;
		}
	}
}