<header class="header">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2 header-title">
            <h3>Excersize</h3>
        </div>
        <div class="col header-search">
            <div class="header-search-wrap">
                <input type="text" class="form-control header-search-field" placeholder="search">
                <a href="javascript:;" class="header-search-btn">
                    <i class="icon-search-find"></i>
                </a>
            </div>
        </div>
        <div class="col col-auto header-login">
            <a href="javascript:;" class="header-login-btn">Sign In</a>
        </div>
    </div>
</header>
